body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}


#loginPage {
    background: linear-gradient(to right, #1d3557, #457b9d);
}


.login-card {
    width: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


.logo {
    width: 100px;
}


.main-layout {
    min-height: 100vh;
}


.sidebar {
    background-color: #1d232b;
}


.nav-link {
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #2d3a4b;
    color: #4dabff;
}


.notebook-section {
    background-color: #f5f5f5;
}


.notebook-section h4 {
    font-weight: bold;
    letter-spacing: 1px;
}


.notebook-card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    background-color: white;
}

.notebook-card:hover {
    transform: translateY(-5px);
}


.card-img-top {
    height: 120px;
    object-fit: cover;
}


.progress {
    height: 12px;
    border-radius: 20px;
}
